<a href="https://colab.research.google.com/github/Juliana001/AnaliseDeDados_projetosPessoais/blob/main/AnaliseENADE2023/LimpezaDadosEnade2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Juliana](https://drive.google.com/uc?export=view&id=1PRtZkH3XKEHD7ROx0NvjS8SkubI-RKdu)

###Este projeto teve início com foco em Business Intelligence, voltado à visualização dos dados do ENADE 2023, mas evoluiu para uma abordagem mais abrangente de Ciência de Dados e Engenharia de Dados. Nesta primeira etapa, o objetivo principal foi a limpeza e exploração inicial dos dados. O processo começou com a remoção das linhas que não continham informações sobre as universidades efetivamente avaliadas. Em seguida, foi identificada a presença de espaços nos nomes de algumas colunas, o que dificultava sua manipulação; por esse motivo, todos os nomes de colunas foram padronizados utilizando o estilo camelCase. Durante a análise exploratória, observou-se que um número significativo de universidades participou do processo avaliativo, mas não possuía nota do ENADE. Diante disso, optou-se por dividir os dados em dois datasets: um contendo apenas as instituições com nota ENADE e outro reunindo aquelas sem nota, facilitando análises futuras e garantindo maior clareza na exploração dos dados.

# 1 - importação das bibliotecas

In [ ]:
import numpy as np
import pandas as pd

#2 - importação dos dados

In [ ]:
dados = pd.read_csv('/content/conceito_enade_2023 - PLANILHA_ENADE.csv')
dados_copia = dados.copy()

#3 - visualização dos dados

In [ ]:
display(dados)

,Ano,Código da Área,Área de Avaliação,Grau Acadêmico,Código da IES,Nome da IES*,Sigla da IES*,Organização Acadêmica,Categoria Administrativa,Código do Curso,...,Sigla da UF**,Nº de Concluintes Inscritos,Nº de Concluintes Participantes,Nota Bruta - FG,Nota Padronizada - FG,Nota Bruta - CE,Nota Padronizada - CE,Conceito Enade (Contínuo),Conceito Enade (Faixa),Entidade Beneficiente de Assistência Social (CEBAS)
0,2023,6002.0,ENGENHARIA DE ALIMENTOS,Bacharelado,699.0,FUNDAÇÃO UNIVERSIDADE FEDERAL DE RONDÔNIA,UNIR,Universidade,Pública Federal,116776.0,...,RO,4.0,4.0,"50,55","2,123411382","42,75","2,107348703","2,111364373",3,-
1,2023,17.0,AGRONOMIA,Bacharelado,4785.0,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,IFRO,"Instituto Federal de Educação, Ciência e Tecno...",Pública Federal,1427412.0,...,RO,34.0,34.0,"48,33529412","2,79870416","56,88529412","3,309191089","3,181569357",4,-
2,2023,5710.0,ENGENHARIA CIVIL,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,1259888.0,...,RO,24.0,21.0,"47,82857143","2,296813462","31,13809524","1,59527528","1,770659825",2,-
3,2023,23.0,ENFERMAGEM,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,104306.0,...,RO,35.0,34.0,"46,49705882","2,348003123","44,67352941","1,596814508","1,784611662",2,-
4,2023,19.0,FARMÁCIA,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,104308.0,...,RO,23.0,23.0,"40,16956522","1,417747523","32,63478261","0,799276435","0,953894207",2,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9810,2023,5902.0,ENGENHARIA MECÂNICA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,138.0,...,DF,76.0,64.0,"60,1828125","3,857397611","56,3875",5,"4,714349403",5,-
9811,2023,19.0,FARMÁCIA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,18030.0,...,DF,45.0,42.0,"59,29285714","4,030383829","55,79047619","3,567255113","3,683037292",4,-
9812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9813,* Nome e Sigla da IES atualizados na data da d...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9814,"** Para os cursos na modalidade a distância, o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dados.isnull().sum()

Ano                                                       1
Código da Área                                            3
Área de Avaliação                                         3
Grau Acadêmico                                            3
Código da IES                                             3
Nome da IES*                                              3
Sigla da IES*                                          1248
Organização Acadêmica                                     3
Categoria Administrativa                                  3
Código do Curso                                           3
Modalidade de Ensino                                      3
Código do Município**                                     3
Município do Curso**                                      3
Sigla da UF**                                             3
Nº de Concluintes Inscritos                               3
Nº  de Concluintes Participantes                          3
Nota Bruta - FG                                         435
Nota Padronizada - FG                                   435
Nota Bruta - CE                                         435
Nota Padronizada - CE                                   435
Conceito Enade (Contínuo)                               435
Conceito Enade (Faixa)                                    3
Entidade Beneficiente de Assistência Social (CEBAS)       3
dtype: int64

# 4 - limpeza dos dados

In [ ]:
dados = dados.dropna(subset = ['Nome da IES*'])

In [ ]:
dados.isnull().sum()

Ano                                                       0
Código da Área                                            0
Área de Avaliação                                         0
Grau Acadêmico                                            0
Código da IES                                             0
Nome da IES*                                              0
Sigla da IES*                                          1245
Organização Acadêmica                                     0
Categoria Administrativa                                  0
Código do Curso                                           0
Modalidade de Ensino                                      0
Código do Município**                                     0
Município do Curso**                                      0
Sigla da UF**                                             0
Nº de Concluintes Inscritos                               0
Nº  de Concluintes Participantes                          0
Nota Bruta - FG                                         432
Nota Padronizada - FG                                   432
Nota Bruta - CE                                         432
Nota Padronizada - CE                                   432
Conceito Enade (Contínuo)                               432
Conceito Enade (Faixa)                                    0
Entidade Beneficiente de Assistência Social (CEBAS)       0
dtype: int64

In [ ]:
display(dados)

,Ano,Código da Área,Área de Avaliação,Grau Acadêmico,Código da IES,Nome da IES*,Sigla da IES*,Organização Acadêmica,Categoria Administrativa,Código do Curso,...,Sigla da UF**,Nº de Concluintes Inscritos,Nº de Concluintes Participantes,Nota Bruta - FG,Nota Padronizada - FG,Nota Bruta - CE,Nota Padronizada - CE,Conceito Enade (Contínuo),Conceito Enade (Faixa),Entidade Beneficiente de Assistência Social (CEBAS)
0,2023,6002.0,ENGENHARIA DE ALIMENTOS,Bacharelado,699.0,FUNDAÇÃO UNIVERSIDADE FEDERAL DE RONDÔNIA,UNIR,Universidade,Pública Federal,116776.0,...,RO,4.0,4.0,"50,55","2,123411382","42,75","2,107348703","2,111364373",3,-
1,2023,17.0,AGRONOMIA,Bacharelado,4785.0,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,IFRO,"Instituto Federal de Educação, Ciência e Tecno...",Pública Federal,1427412.0,...,RO,34.0,34.0,"48,33529412","2,79870416","56,88529412","3,309191089","3,181569357",4,-
2,2023,5710.0,ENGENHARIA CIVIL,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,1259888.0,...,RO,24.0,21.0,"47,82857143","2,296813462","31,13809524","1,59527528","1,770659825",2,-
3,2023,23.0,ENFERMAGEM,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,104306.0,...,RO,35.0,34.0,"46,49705882","2,348003123","44,67352941","1,596814508","1,784611662",2,-
4,2023,19.0,FARMÁCIA,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,104308.0,...,RO,23.0,23.0,"40,16956522","1,417747523","32,63478261","0,799276435","0,953894207",2,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9807,2023,5.0,MEDICINA VETERINÁRIA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,18031.0,...,DF,118.0,108.0,"60,58611111","4,054079669","58,14166667","3,826283118","3,883232255",4,-
9808,2023,19.0,FARMÁCIA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,112794.0,...,DF,95.0,92.0,"55,76847826","3,548880944","57,88043478","3,817083986","3,750033225",4,-
9809,2023,23.0,ENFERMAGEM,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,112818.0,...,DF,79.0,74.0,"64,46351351","4,572528665","70,25135135","4,318438464","4,381961014",5,-
9810,2023,5902.0,ENGENHARIA MECÂNICA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,138.0,...,DF,76.0,64.0,"60,1828125","3,857397611","56,3875",5,"4,714349403",5,-
9811,2023,19.0,FARMÁCIA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,18030.0,...,DF,45.0,42.0,"59,29285714","4,030383829","55,79047619","3,567255113","3,683037292",4,-

# 5 - exploração das observações sem nota

In [ ]:
filtro_semNota = dados[dados['notaPadronizadaCE'].isna()]

In [ ]:
display(filtro_semNota)

,ano,codigoArea,areaAvaliacao,grauAcademico,codigoIES,nomeIES,siglaIES,organizacaoAcademica,categoriaAdministrativa,codigoCurso,...,siglaUF,qtdConcluintesInscritos,qtdConcluintesParticipantes,notaBrutaFG,notaPadronizadaFG,notaBrutaCE,notaPadronizadaCE,conceitoEnadeContinuo,conceitoEnadeFaixa,beneficenteAssistenciaSocialCEBAS
26,2023,5902.0,ENGENHARIA MECÂNICA,Bacharelado,4255.0,Centro Universitário de Rondônia,Unesc,Centro Universitário,Privada com fins lucrativos,1364533.0,...,RO,16.0,0.0,NaN,NaN,NaN,NaN,NaN,SC,-
46,2023,6307.0,ENGENHARIA AMBIENTAL,Bacharelado,4411.0,CENTRO UNIVERSITÁRIO ESTÁCIO DE JI-PARANÁ,ESTÁCIO UNIJIPA,Centro Universitário,Privada com fins lucrativos,1259125.0,...,RO,1.0,0.0,NaN,NaN,NaN,NaN,NaN,SC,-
63,2023,6208.0,ENGENHARIA DE PRODUÇÃO,Bacharelado,19943.0,Faculdade Sapiens,SAPIENS,Faculdade,Privada com fins lucrativos,1307548.0,...,RO,2.0,0.0,NaN,NaN,NaN,NaN,NaN,SC,-
65,2023,5710.0,ENGENHARIA CIVIL,Bacharelado,12758.0,Faculdade Unesc-Unama,NaN,Faculdade,Privada com fins lucrativos,1108254.0,...,RO,1.0,0.0,NaN,NaN,NaN,NaN,NaN,SC,-
66,2023,6208.0,ENGENHARIA DE PRODUÇÃO,Bacharelado,12758.0,Faculdade Unesc-Unama,NaN,Faculdade,Privada com fins lucrativos,1193546.0,...,RO,1.0,0.0,NaN,NaN,NaN,NaN,NaN,SC,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9723,2023,95.0,TECNOLOGIA EM ESTÉTICA E COSMÉTICA,Tecnológico,1060.0,CENTRO UNIVERSITÁRIO DO INSTITUTO DE EDUCAÇÃO ...,IESB,Centro Universitário,Privada com fins lucrativos,1524269.0,...,DF,1.0,0.0,NaN,NaN,NaN,NaN,NaN,SC,-
9730,2023,5710.0,ENGENHARIA CIVIL,Bacharelado,1060.0,CENTRO UNIVERSITÁRIO DO INSTITUTO DE EDUCAÇÃO ...,IESB,Centro Universitário,Privada com fins lucrativos,1280039.0,...,DF,1.0,1.0,NaN,NaN,NaN,NaN,NaN,SC,-
9755,2023,6307.0,ENGENHARIA AMBIENTAL,Bacharelado,403.0,UNIVERSIDADE CATÓLICA DE BRASÍLIA,UCB,Universidade,Comunitária/Confessional,37263.0,...,DF,3.0,0.0,NaN,NaN,NaN,NaN,NaN,SC,X
9779,2023,95.0,TECNOLOGIA EM ESTÉTICA E COSMÉTICA,Tecnológico,402.0,CENTRO UNIVERSITÁRIO DE BRASÍLIA,UNICEUB,Centro Universitário,Privada sem fins lucrativos,1349775.0,...,DF,2.0,0.0,NaN,NaN,NaN,NaN,NaN,SC,-
9791,2023,95.0,TECNOLOGIA EM ESTÉTICA E COSMÉTICA,Tecnológico,322.0,UNIVERSIDADE PAULISTA,UNIP,Universidade,Privada com fins lucrativos,1398180.0,...,DF,3.0,0.0,NaN,NaN,NaN,NaN,NaN,SC,-

Podemos ver que todas as que faltam esses dados não tiveram alunos que realizaram a prova.

Vamos fazer uma análise das sem nota

In [ ]:
filtro_semNota['categoriaAdministrativa'].value_counts()

categoriaAdministrativa
Privada com fins lucrativos    298
Privada sem fins lucrativos     79
Comunitária/Confessional        36
Pública Federal                  8
Pública Estadual                 6
Pública Municipal                3
Especial                         2
Name: count, dtype: int64

In [ ]:
filtro_semNota['siglaUF'].value_counts()

siglaUF
SP    102
MG     47
BA     47
PR     41
SC     23
RJ     20
RS     20
ES     19
PE     17
GO     12
MT     11
DF      9
RO      8
MS      8
MA      7
AM      6
PB      6
SE      5
CE      5
AL      5
PA      4
RN      3
PI      3
RR      2
AP      2
Name: count, dtype: int64

In [ ]:

filtro_semNota['qtdConcluintesInscritos'].value_counts()

qtdConcluintesInscritos
1.0     237
2.0      73
3.0      31
4.0      24
5.0      11
9.0       8
6.0       7
11.0      6
8.0       5
13.0      5
7.0       5
17.0      3
12.0      3
10.0      2
15.0      2
25.0      2
22.0      1
16.0      1
21.0      1
24.0      1
54.0      1
28.0      1
57.0      1
18.0      1
Name: count, dtype: int64

In [ ]:
filtro_semNota['organizacaoAcademica'].value_counts()

organizacaoAcademica
Centro Universitário                                   180
Faculdade                                              165
Universidade                                            85
Instituto Federal de Educação, Ciência e Tecnologia      2
Name: count, dtype: int64

In [ ]:
filtro_semNota['areaAvaliacao'].value_counts()

areaAvaliacao
ENGENHARIA DE PRODUÇÃO                 62
ENGENHARIA CIVIL                       41
TECNOLOGIA EM ESTÉTICA E COSMÉTICA     40
ENGENHARIA AMBIENTAL                   35
TECNOLOGIA EM GESTÃO AMBIENTAL         24
ENGENHARIA ELÉTRICA                    24
NUTRIÇÃO                               20
ENGENHARIA MECÂNICA                    18
ENGENHARIA QUÍMICA                     17
ENGENHARIA DE CONTROLE E AUTOMAÇÃO     16
BIOMEDICINA                            15
TECNOLOGIA EM RADIOLOGIA               15
ENFERMAGEM                             15
ARQUITETURA E URBANISMO                14
FARMÁCIA                               12
TECNOLOGIA EM GESTÃO HOSPITALAR        12
FISIOTERAPIA                           12
ENGENHARIA DE COMPUTAÇÃO I             11
TECNOLOGIA EM SEGURANÇA NO TRABALHO     5
TECNOLOGIA EM AGRONEGÓCIOS              4
MEDICINA                                4
ODONTOLOGIA                             4
AGRONOMIA                               4
MEDICINA VETERINÁRIA                    3
ZOOTECNIA                               2
FONOAUDIOLOGIA                          1
ENGENHARIA FLORESTAL                    1
ENGENHARIA DE ALIMENTOS                 1
Name: count, dtype: int64

In [ ]:
filtro_semNota['beneficenteAssistenciaSocialCEBAS'].value_counts()

beneficenteAssistenciaSocialCEBAS
-    385
X     47
Name: count, dtype: int64

In [ ]:
filtro_semNota['grauAcademico'].value_counts()

grauAcademico
Bacharelado    332
Tecnológico    100
Name: count, dtype: int64

#6 - renomeação das colunas

In [ ]:
dados.rename(columns = {
    dados.columns[0]: 'ano',
    dados.columns[1]: 'codigoArea',
    dados.columns[2]: 'areaAvaliacao',
    dados.columns[3]: 'grauAcademico',
    dados.columns[4]: 'codigoIES',
    dados.columns[5]: 'nomeIES',
    dados.columns[6]: 'siglaIES',
    dados.columns[7]: 'organizacaoAcademica',
    dados.columns[8]: 'categoriaAdministrativa',
    dados.columns[9]: 'codigoCurso',
    dados.columns[10]: 'modalidadeEnsino',
    dados.columns[11]: 'codigoMunicipio',
    dados.columns[12]: 'municipioDoCurso',
    dados.columns[13]: 'siglaUF',
    dados.columns[14]: 'qtdConcluintesInscritos',
    dados.columns[15]: 'qtdConcluintesParticipantes',
    dados.columns[16]: 'notaBrutaFG',
    dados.columns[17]: 'notaPadronizadaFG',
    dados.columns[18]: 'notaBrutaCE',
    dados.columns[19]: 'notaPadronizadaCE',
    dados.columns[20]: 'conceitoEnadeContinuo',
    dados.columns[21]: 'conceitoEnadeFaixa',
    dados.columns[22]: 'beneficenteAssistenciaSocialCEBAS',
}, inplace=True)

In [ ]:
display(dados)

,ano,codigoArea,areaAvaliacao,grauAcademico,codigoIES,nomeIES,siglaIES,organizacaoAcademica,categoriaAdministrativa,codigoCurso,...,siglaUF,qtdConcluintesInscritos,qtdConcluintesParticipantes,notaBrutaFG,notaPadronizadaFG,notaBrutaCE,notaPadronizadaCE,conceitoEnadeContinuo,conceitoEnadeFaixa,beneficenteAssistenciaSocialCEBAS
0,2023,6002.0,ENGENHARIA DE ALIMENTOS,Bacharelado,699.0,FUNDAÇÃO UNIVERSIDADE FEDERAL DE RONDÔNIA,UNIR,Universidade,Pública Federal,116776.0,...,RO,4.0,4.0,"50,55","2,123411382","42,75","2,107348703","2,111364373",3,-
1,2023,17.0,AGRONOMIA,Bacharelado,4785.0,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,IFRO,"Instituto Federal de Educação, Ciência e Tecno...",Pública Federal,1427412.0,...,RO,34.0,34.0,"48,33529412","2,79870416","56,88529412","3,309191089","3,181569357",4,-
2,2023,5710.0,ENGENHARIA CIVIL,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,1259888.0,...,RO,24.0,21.0,"47,82857143","2,296813462","31,13809524","1,59527528","1,770659825",2,-
3,2023,23.0,ENFERMAGEM,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,104306.0,...,RO,35.0,34.0,"46,49705882","2,348003123","44,67352941","1,596814508","1,784611662",2,-
4,2023,19.0,FARMÁCIA,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,104308.0,...,RO,23.0,23.0,"40,16956522","1,417747523","32,63478261","0,799276435","0,953894207",2,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9807,2023,5.0,MEDICINA VETERINÁRIA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,18031.0,...,DF,118.0,108.0,"60,58611111","4,054079669","58,14166667","3,826283118","3,883232255",4,-
9808,2023,19.0,FARMÁCIA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,112794.0,...,DF,95.0,92.0,"55,76847826","3,548880944","57,88043478","3,817083986","3,750033225",4,-
9809,2023,23.0,ENFERMAGEM,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,112818.0,...,DF,79.0,74.0,"64,46351351","4,572528665","70,25135135","4,318438464","4,381961014",5,-
9810,2023,5902.0,ENGENHARIA MECÂNICA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,138.0,...,DF,76.0,64.0,"60,1828125","3,857397611","56,3875",5,"4,714349403",5,-
9811,2023,19.0,FARMÁCIA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,18030.0,...,DF,45.0,42.0,"59,29285714","4,030383829","55,79047619","3,567255113","3,683037292",4,-

# 7 - salvar tabela das sem nota

In [ ]:
filtro_semNota.to_csv('sem_nota.csv', index=False, encoding='UTF-8')

In [ ]:
dados.isnull().sum()

ano                                     0
codigoArea                              0
areaAvaliacao                           0
grauAcademico                           0
codigoIES                               0
nomeIES                                 0
siglaIES                             1150
organizacaoAcademica                    0
categoriaAdministrativa                 0
codigoCurso                             0
modalidadeEnsino                        0
codigoMunicipio                         0
municipioDoCurso                        0
siglaUF                                 0
qtdConcluintesInscritos                 0
qtdConcluintesParticipantes             0
notaBrutaFG                             0
notaPadronizadaFG                       0
notaBrutaCE                             0
notaPadronizadaCE                       0
conceitoEnadeContinuo                   0
conceitoEnadeFaixa                      0
beneficenteAssistenciaSocialCEBAS       0
dtype: int64

In [ ]:
dados = dados.dropna(subset = ['conceitoEnadeContinuo'])

# 8 - salvar tabela com nota

In [ ]:
display(dados)

,ano,codigoArea,areaAvaliacao,grauAcademico,codigoIES,nomeIES,siglaIES,organizacaoAcademica,categoriaAdministrativa,codigoCurso,...,siglaUF,qtdConcluintesInscritos,qtdConcluintesParticipantes,notaBrutaFG,notaPadronizadaFG,notaBrutaCE,notaPadronizadaCE,conceitoEnadeContinuo,conceitoEnadeFaixa,beneficenteAssistenciaSocialCEBAS
0,2023,6002.0,ENGENHARIA DE ALIMENTOS,Bacharelado,699.0,FUNDAÇÃO UNIVERSIDADE FEDERAL DE RONDÔNIA,UNIR,Universidade,Pública Federal,116776.0,...,RO,4.0,4.0,"50,55","2,123411382","42,75","2,107348703","2,111364373",3,-
1,2023,17.0,AGRONOMIA,Bacharelado,4785.0,INSTITUTO FEDERAL DE EDUCAÇÃO CIÊNCIA E TECNOL...,IFRO,"Instituto Federal de Educação, Ciência e Tecno...",Pública Federal,1427412.0,...,RO,34.0,34.0,"48,33529412","2,79870416","56,88529412","3,309191089","3,181569357",4,-
2,2023,5710.0,ENGENHARIA CIVIL,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,1259888.0,...,RO,24.0,21.0,"47,82857143","2,296813462","31,13809524","1,59527528","1,770659825",2,-
3,2023,23.0,ENFERMAGEM,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,104306.0,...,RO,35.0,34.0,"46,49705882","2,348003123","44,67352941","1,596814508","1,784611662",2,-
4,2023,19.0,FARMÁCIA,Bacharelado,4613.0,Centro Universitário FAEMA,UNIFAEMA,Centro Universitário,Privada com fins lucrativos,104308.0,...,RO,23.0,23.0,"40,16956522","1,417747523","32,63478261","0,799276435","0,953894207",2,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9807,2023,5.0,MEDICINA VETERINÁRIA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,18031.0,...,DF,118.0,108.0,"60,58611111","4,054079669","58,14166667","3,826283118","3,883232255",4,-
9808,2023,19.0,FARMÁCIA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,112794.0,...,DF,95.0,92.0,"55,76847826","3,548880944","57,88043478","3,817083986","3,750033225",4,-
9809,2023,23.0,ENFERMAGEM,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,112818.0,...,DF,79.0,74.0,"64,46351351","4,572528665","70,25135135","4,318438464","4,381961014",5,-
9810,2023,5902.0,ENGENHARIA MECÂNICA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,138.0,...,DF,76.0,64.0,"60,1828125","3,857397611","56,3875",5,"4,714349403",5,-
9811,2023,19.0,FARMÁCIA,Bacharelado,2.0,UNIVERSIDADE DE BRASÍLIA,UNB,Universidade,Pública Federal,18030.0,...,DF,45.0,42.0,"59,29285714","4,030383829","55,79047619","3,567255113","3,683037292",4,-

In [ ]:
dados.to_csv('com_nota.csv', index=False, encoding='UTF-8')